.body {
    background: rgb(28, 60, 121);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar{
    background-color: rgb(10, 38, 70);
    justify-content: left;
    border-left: 0em;
}
#navbar a{
    color: rgb(22, 132, 139);
    border-style: inset;

}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar {
    justify-content: center;
}
li i{
    font-size: 30px;
    justify-content: center;

    
}
div collapse navbar-collapse{

    border: rgb(22, 132, 139);
    border-radius: 12px;
    border-style: inset;
}

col-sm-8{
    bottom: 12px;
    background-color: aquamarine;
    border-style: inset;
}
footer{
    height: 150px;
    width: 100%;
    background: darkgreen;
    color: blue;
    text-align: center;

}
footer i{
    font-size: 30px;
}
.container{
    font-size: 30;
    justify-content: center;
    background-color: rgb(55, 104, 196);
    color: rgb(180, 196, 209);
       

}
.redes{
    font-size: 35px;
    text-shadow: 0 0 15px;
    animation-fill-mode: unset;
}
.tab1{
    font-weight: 122;

}

.h2 contacto {
    border: rgb(180, 196, 209);
}